<button type="button" class="button">Abrir modal</button>

<section id="modal" class="modal">
  <div class="modal-header">
    <h2 class="modal-title">Lorem ipsum dolor sit amet.</h2>
    <button type="button" aria-label="Cerrar modal" class="modal-close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg>
    </button>
  </div>
  <div class="modal-body">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ea sequi fuga quis nisi voluptatum? Nemo
    laborum molestias nobis, repellendus et debitis culpa numquam delectus ipsum saepe sequi error voluptatibus.
  </div>
  <div class="modal-footer">Lorem ipsum dolor sit amet.</div>
</section>
