<form id="form-detalle-compra" action="" method="post" class="hidden">
  <div class="form-inputs">
    <select id="form-detalle-compra-compra" name="" class="form-select">
      <option value="">Compra</option>
    </select>
    <select id="form-detalle-compra-producto" name="" class="form-select">
      <option value="">Producto</option>
    </select>
    <input id="form-detalle-compra-cantidad" type="number" placeholder="Catidad" class="form-input" />
  </div>
  <button id="form-detalle-compra-submit" type="submit" class="button" form="form-detalle-compra">
    Registrar Detalle compra
  </button>
</form>

<section class="invoice">
  <div class="invoice-header">
    <form action="" method="post">
      <div class="label-input">
        <label for="" class="form-label">Señor(es):</label>
        <input type="text" class="form-input">
      </div>
      <div class="label-input">
        <label for="" class="form-label">Vendedor:</label>
        <input type="text" class="form-input">
      </div>
    </form>
  </div>
  
  <div class="invoice-body">
    <form action="" method="post">
      <table class="table">
        <colgroup>
          <col width="100px">
          <col width="120px">
          <col width="">
          <col width="120px">
          <col width="120px">
        </colgroup>
        <thead class="table-head">
          <tr>
            <th>Quitar</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Importe</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-row">
            <td class="table-cell-action">
              <button class="button delete" type="button" aria-label="Eliminar">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M4 7l16 0" />
                  <path d="M10 11l0 6" />
                  <path d="M14 11l0 6" />
                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
              </button>
            </td>
            <td>
              <input type="number" class="form-input" placeholder="" step="1" />
            </td>
            <td>
              <input type="text" class="form-input" placeholder="" />
            </td>
            <td class="text-end">
              111.00
            </td>
            <td class="text-end">
              222.00
            </td>
          </tr>
        </tbody>
        <tfoot class="table-foot">
          <tr class="table-row">
            <td colspan="3"></td>
            <td class="text-end">SubTotal:</td>
            <td class="text-end">222.00</td>
          </tr>
          <tr class="table-row">
            <td colspan="3"></td>
            <td class="text-end">Total:</td>
            <td class="text-end">222.00</td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
</section>