<section class="invoice">
  <div class="invoice-header">
    <form action="" method="post" id="form-compra">
      <div class="label-input">
        <label for="input-comprador" class="form-label">Señor(es):</label>
        <input id="input-comprador" type="text" class="form-input">
      </div>
      <div class="label-input">
        <label for="input-proveedor" class="form-label">Proveedor:</label>
        <input id="input-proveedor" type="text" class="form-input">
      </div>
    </form>
  </div>

  <div class="invoice-body">
    <form action="" method="post" id="form-detalle-compra">
      <table class="table">
        <colgroup>
          <col width="100px">
          <col width="120px">
          <col width="">
          <col width="120px">
          <col width="120px">
        </colgroup>
        <thead class="table-head">
          <tr>
            <th>Quitar</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Importe</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-row">
            <td class="table-cell-action">
              <button class="button delete" type="button" aria-label="Eliminar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M4 7l16 0" />
                  <path d="M10 11l0 6" />
                  <path d="M14 11l0 6" />
                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
              </button>
            </td>
            <td>
              <input id="input-cantidad" type="number" class="form-input text-center" placeholder="1" step="1" />
            </td>
            <td style="position: relative;">
              <input id="input-producto" data-producto-id="" type="text" class="form-input input-producto"
                placeholder="Producto A" />
              <ul class="options-list hidden">
                <li>
                  Escriba al menos 3 letras para buscar...
                </li>
              </ul>
            </td>
            <td class="text-end">
              111.00
            </td>
            <td class="text-end">
              222.00
            </td>
          </tr>
        </tbody>
        <tfoot class="table-foot">
          <tr class="table-row">
            <td class="table-cell-action">
              <button id="input-add" type="button" class="button" aria-label="Agregar detalle compra">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 5l0 14" />
                  <path d="M5 12l14 0" />
                </svg>
              </button>
            </td>
            <td colspan="2"></td>
            <td class="text-end">SubTotal:</td>
            <td class="text-end">222.00</td>
          </tr>
          <tr class="table-row">
            <td colspan="3"></td>
            <td class="text-end">Total:</td>
            <td class="text-end">222.00</td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
</section>