<form id="form-detalle-compra" action="" method="post">
  <div class="form-inputs">
    <select id="form-detalle-compra-compra" name="" class="form-select">
      <option value="">Compra</option>
    </select>
    <select id="form-detalle-compra-producto" name="" class="form-select">
      <option value="">Producto</option>
    </select>
    <input id="form-detalle-compra-cantidad" type="number" placeholder="Catidad" class="form-input" />
  </div>
</form>
<button id="form-detalle-compra-submit" type="submit" class="button" form="form-detalle-compra">
  Registrar Detalle compra
</button>
