<form id="form-producto" action="" method="post">
	<div class="form-image">
		<img src="./img/referencia.jpg" alt="referencia">
		<input id="form-producto-imagen" type="file" name="" class="hidden">
		<button type="button" class="button">
			<span>Subir imagen</span>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
				stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M14 3v4a1 1 0 0 0 1 1h4" />
				<path d="M5 13v-8a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5.5m-9.5 -2h7m-3 -3l3 3l-3 3" />
			</svg>
		</button>
	</div>
	<div class="form-inputs">
		<input id="form-producto-nombre" type="text" placeholder="Nombre del producto" class="form-input">
		<input id="form-producto-codigo" type="text" placeholder="Código" class="form-input">
		<input id="form-producto-precio" type="number" placeholder="Precio" class="form-input">
		<select id="form-producto-categoria" name="" class="form-select">
			<option value="">Categoría</option>
		</select>
		<select id="form-producto-marca" name="" class="form-select">
			<option value="">Marca</option>
		</select>
		<textarea id="form-producto-descripcion" name="" id="" rows="5"
			class="form-textarea">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, ipsa!</textarea>
	</div>
</form>
<button id="form-producto-submit" type="submit" class="button" form="form-producto">Registrar</button>