:root {
  --height-navbar: 60px;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #16a34a;
  --warning: #facc15;
  --error: #ff0000;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  --distance-1: 4px;
  --distance-2: 8px;
  --distance-3: 12px;
  --distance-4: 16px;
  --distance-5: 20px;
}

/* Resetear todos los estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
}

body {
  height: 100vh;
}

/* Corregir posibles inconsistencias de visualización en elementos en línea y de bloque */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Evitar que los navegadores modifiquen los estilos de los elementos incluidos por defecto */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/* Corregir estilos de enlace que no sean deseables */
a,
button {
  display: flex;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: content-box;
}

/* Eliminar estilos visuales por defecto para los enlaces */
a:active,
a:hover {
  outline-width: 0;
}

/* Hacer que las imágenes sean escalables y no salgan de su contenedor */
img {
  border-style: none;
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: var(--primary);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 7px;

  &:hover {
    scale: 1.05;
  }

  &.edit {
    background-color: var(--warning);
    color: black;
  }
  &.delete {
    background-color: var(--error);
  }
}

.navbar {
  width: 100%;
  height: var(--height-navbar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--gray-50);
  border-bottom: 1px solid var(--gray-400);
  padding-inline: var(--distance-1);
  z-index: 30;

  .navbar-brand {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-inline: 8px;

    h1 {
      color: var(--gray-900);
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    column-gap: 3px;

    .user-profile {
      display: flex;
      align-items: center;
      column-gap: 10px;
      color: var(--gray-900);
      padding: 8px;
      user-select: none;
      cursor: pointer;
      border-radius: 8px;

      .user-details {
        .user-name {
          font-size: 0.85rem;
          margin-bottom: 5px;
        }

        .user-email {
          font-size: 0.6rem;
        }
      }

      .user-avatar {
        width: 40px;
        height: 40px;

        img {
          border-radius: 50%;
        }
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-900);
    padding: 8px;
    border-radius: 8px;

    &:hover,
    &:focus,
    .user-profile:hover,
    .user-profile:focus {
      background-color: var(--gray-200);
      transition: 0.35s ease-in-out;
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: var(--height-navbar);
}

.sidebar {
  width: 240px;
  height: calc(100% - var(--height-navbar));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background-color: var(--gray-50);
  border-right: 1px solid var(--gray-400);
  transition: transform 0.35s linear;
  z-index: 30;

  &.sidebar-toggle {
    transform: translateX(-100%);
  }

  .sidebar-body {
    position: relative;
    padding: var(--distance-2);
    overflow-y: auto;

    .sidebar-menu {
      height: 100%;
      overflow-y: auto;
      .sidebar-link + .sidebar-link {
        margin-top: 6px;
      }

      .sidebar-link > a {
        display: flex;
        align-items: center;
        color: var(--gray-900);
        background-color: transparent;
        column-gap: 15px;
        padding: 8px;
        border-radius: 10px;
        transition: background 0.35s;
      }

      .sidebar-link.active > a,
      .sidebar-link > a:hover {
        background-color: var(--gray-200);
      }
    }
  }

  .sidebar-footer {
    position: sticky;
    background-color: var(--gray-50);
    color: var(--gray-950);
    padding: 10px;
    bottom: 0;
    border-top: 1px solid var(--gray-400);
    user-select: none;
    cursor: pointer;
    z-index: 5;

    &:hover {
      background-color: var(--gray-200);
    }

    &:hover > .user-options {
      transform: translateX(0);
    }

    &:not(:hover) > .user-options {
      transition-delay: 0.25s;
    }

    .user-profile {
      display: flex;
      align-items: center;
      column-gap: 10px;

      .user-details {
        text-wrap: nowrap;
        overflow: hidden;
      }

      .user-avatar {
        width: 40px;
        border-radius: 50%;
      }

      h3,
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      h3 {
        font-weight: normal;
        font-size: 0.85rem;
        margin-bottom: 5px;
      }

      p {
        font-size: 0.75rem;
      }
    }

    .user-options {
      position: absolute;
      bottom: 65px;
      right: 3px;
      background-color: var(--gray-50);
      border: 1px solid var(--gray-400);
      border-radius: var(--distance-1);
      padding: 6px 10px;
      transform: translateX(-150%);
      transition: transform 0.25s linear;

      .options-list {
        .option-item + .option-item {
          margin-top: 3px;
        }

        .option-item > a {
          display: flex;
          align-items: center;
          color: var(--gray-900);
          column-gap: var(--distance-2);
          padding: 8px 12px;
          border-radius: 10px;
          transition: background 0.35s;

          &:hover {
            background-color: var(--gray-200);
          }
        }
      }
    }
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #d1d5dbcc;
  display: block;
  z-index: 10;

  &.sidebar-toggle {
    display: none;
  }
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: padding 0.35s linear;
  overflow-y: auto;

  .gradient {
    position: fixed;
    inset: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-color: white;
    background: radial-gradient(125% 125% at 50% 10%, #ffffff 40%, #6363ee 100%);
  }

  .content-main {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding: var(--distance-2);
  }
}

.cards {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;

  .card {
    max-width: fit-content;
    background-color: var(--gray-600);
    padding: 30px 50px;
    border-radius: 12px;

    .card-content {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    .card-icon {
      background-color: var(--gray-700);
      padding: 10px;
      border-radius: 50%;
    }

    .card-value {
      font-size: 1.5rem;
    }

    .card-title {
      font-size: 0.85rem;
    }
  }
}

.search-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 12px;

  .search-form {
    width: 100%;
    max-width: 320px;
  }

  .search-input {
    background-color: transparent;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--gray-500);
    border-radius: 8px;
  }
}

.table {
  width: 100%;
  border-spacing: 0;

  .table-head {
    background-color: var(--gray-500);
    color: var(--gray-100);

    th {
      text-transform: uppercase;
      padding: var(--distance-4);
      font-weight: bold;
    }

    th:nth-child(n + 2):nth-child(-n + 4) {
      display: none;
    }

    /* th:nth-child(1) {
      border-top-left-radius: 8px;
    }

    th:nth-last-child(1) {
      border-top-right-radius: 8px;
    } */
  }

  .table-body {
    /* .table-row:nth-child(even) {
      background-color: var(--gray-100);
    } */

    .table-row {
      &:hover {
        background-color: var(--gray-100);
      }
      td {
        border-bottom: 1px solid var(--gray-600);
        padding: var(--distance-3);
      }

      td:nth-child(1) {
        min-width: 40px;
      }

      td:nth-child(n + 2):nth-child(-n + 4) {
        display: none;
      }

      .table-details {
        & h3 {
          font-weight: normal;
          font-size: 0.95rem;
          color: var(--gray-900);
          margin-bottom: 6px;
        }

        & span {
          /* display: none; */
          color: var(--gray-700);
          font-size: 0.8rem;
        }
      }

      .table-description {
        font-size: 0.9rem;
      }
    }

    .table-cell-action {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
    }
  }
}

.login {
  width: 100%;
  max-width: 350px;
  background-color: var(--gray-800);
  padding: var(--distance-5);
  margin-inline: auto;

  & > h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .login-content {
    & > * + * {
      margin-top: 15px;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      .login-input {
        background-color: var(--gray-700);
        padding: 8px;
        color: var(--gray-100);
        border-radius: 8px;
      }
    }

    .login-link {
      color: var(--gray-300);
    }

    .login-submit {
      display: block;
    }
  }
}

.modal {
  width: 100%;
  max-width: 720px;
  position: absolute;
  background-color: var(--gray-600);
  border-radius: 10px;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;

    .modal-title {
      font-size: 1.25rem;
    }

    .modal-close {
      display: flex;
      padding: 8px;
      color: var(--gray-100);
      border-radius: 50%;
      transition: background 0.35s ease-in-out;
    }
    .modal-close:hover {
      background-color: var(--gray-700);
    }
  }

  .modal-body {
    padding: var(--distance-5);
    border-block: 1px solid var(--gray-400);
  }

  .modal-footer {
    padding: var(--distance-5);
  }
}

#form-producto {
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
  display: flex;
  column-gap: 8px;

  .form-image {
    width: 220px;
    height: 220px;

    img {
      aspect-ratio: 1;
      border: 1px solid var(--gray-500);
      border-radius: 8px;
      object-fit: cover;
      object-position: center;
      margin-bottom: 10px;
    }

    .button {
      display: flex;
      align-items: center;
      column-gap: 5px;
      margin-inline: auto;
      padding-inline: 12px;
      background-color: var(--gray-500);

      span {
        font-size: .9rem;
      }
    }
  }

  .form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 10px;

    .form-input:nth-child(1),
    .form-textarea {
      grid-column: span 2;
    }

    .form-input {
      grid-column: span 1;
    }
  }
}

.form-input,
.form-select,
.form-textarea {
  padding: 8px;
  background-color: transparent;
  border: 1px solid var(--gray-500);
  border-radius: 8px;
}

@media screen and (width >= 1440px) {
  .navbar {
    padding-inline: var(--distance-3);

    .navbar-nav {
      column-gap: 8px;
    }

    .btn-sidebar-open:not(.hidden),
    .btn-sidebar-close:not(.hidden) {
      display: none;
    }

    .btn-sidebar-open,
    .btn-sidebar-close {
      display: block;
    }
  }

  .sidebar {
    transform: translateX(-100%);

    &.sidebar-toggle {
      transform: translateX(0);
    }
  }

  .backdrop {
    display: none;
  }

  .content {
    padding-left: 0;
    transition: padding 0.35s linear;

    &.sidebar-toggle {
      padding-left: 240px;
    }

    .content-main {
      padding: 15px;
    }
  }

  .table {
    .table-head {
      th:nth-child(n + 2):nth-child(-n + 4) {
        display: table-cell;
      }
    }
    .table-body {
      .table-row {
        td:nth-child(n + 2):nth-child(-n + 4) {
          display: table-cell;
        }
      }
    }
  }
}
